body{
    padding: 0;
    margin: 0;
    font-family: Calibri;
}

::-webkit-scrollbar {
    width: 10px;
    height: 8px;

}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}


::-webkit-scrollbar-thumb {
    background: #f3037b; 
}


::-webkit-scrollbar-thumb:hover {
    background: #f3037b; 
}

:root{
    --red: #FF0000;
    --black: #282828;
}

.header{
    background-color: #1a1a1a;
    border-bottom: 3px groove var(--red);
    
    display: grid;
    grid-template-columns: 200px 1fr;
    height: auto;
    color: #fff;
}

.header label{
    display: flex;
    justify-content: center;
    
    align-items: center;
    background-color: #fff;
    color: var(--black);

    font-weight: bold;
    
    padding: 10px;
    
    
}

.header span{
    width: 100%;
    border: none;
    display: flex;
    background-color: var(--black);
    padding: 10px;

    box-sizing: border-box;
    justify-content: left;
    align-items: center;
    height: 50px;
    font-weight: bold;
   
  
}

.logo-con{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.logo-con svg
{
   width: 65px;
   height: 100px;
}

.links-con{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 5px;
    
}
.links-con ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    
    
}

.links-con a{
    text-decoration: none;
    color: #f3037b;
    font-size: medium;
    
    
}

.links-con a:hover{
    text-decoration: underline;
    color: #fff;
}

.content
{
    display: grid;
    grid-template-rows: auto 1fr;
    height: 85vh;
    
}



.song-status-con{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    align-items: center;
    justify-items: right;
    
    
}

.current-con, .next-con{
    display: grid;
    grid-template-columns: 150px 1fr;
    margin-top: 20px;
    padding: 2px;
    width: 80%;
    overflow: hidden;
    
}

.player-con{
    height: auto;
   
   
    
}
iframe{
    width: 100%;
    height: 100%;
    border: 0;
   
}
.song-list{
    height: 100%;
   
    box-sizing: border-box;
    overflow-x: auto;
    
   
}
.song-list-con
{
    
    flex: 1;
    padding:5px;
    white-space: nowrap;
    margin-bottom: 10px;
    margin-top: 10px;
}

.song{
    
    display: inline;
    color: #1a1a1a;
    padding: 10px;
    
    overflow: hidden;
    box-sizing: border-box;

    
}

.song small{
    font-size: medium;
}
.current-song{
    
    background-color: #e4dede;
    border-radius: 10px;
    position: relative;
    
}

.current-song span{
    display: block;
    height: 100%;

}

.cancel{
    border: none;
    border-radius: 7px;
    background-color: #d62f2f;
    
    width: 80px;
    padding: 7px;
    color: #fff;
    
    cursor: pointer;
    opacity: 0.95;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);


}

.cancel:hover{
    background-color: var(--black);
}


.empty-list-con{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.empty-list-con p{
    font-size: xx-large;
    background-color: #f3037b;
    padding: 10px;
    border-radius: 30px;
    color: #fff;
    text-align: center;
}

@media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1400px) {
    .current-con, .next-con{
        width: 100%;
    }
    .empty-list-con{
        width: 60%;   
      
    }
    .empty-list-con p{
        font-size: x-large;
        background-color: #fff;
        color: var(--black)
        
    }

    ::-webkit-scrollbar {
        width: 4px;
        height: 8px;
    
    }
  }
  